#logo {
  border: 1px solid rgb(231, 228, 228);
  margin-left: 10%;
}

body {
  background-color: rgb(233, 232, 232);
}

/*header*/
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.header .login-button {
  padding: 0.5rem;
  overflow: normal;
  background-color: transparent;
  text-decoration: none;
}
.header .create-account {
  padding: 0.5rem;
  overflow: normal;
  background-color: transparent;
  border: 2px solid blue;
  text-decoration: none;
}
.header .login-button:hover {
  background-color: rgb(151, 189, 246);
  color: blue;
  text-decoration: underline;
}
.header .create-account:hover {
  background-color: blue;
  color: white;
  text-decoration: underline;
}

/*_______________*/
.caja-principal {
  border: 2px solid rgb(231, 228, 228);
  display: flex;
  width: 80%;
  margin: 0 auto;
  /* lado izquierdo */
  /*________________*/
  /* central */
  /*_____________*/
}
.caja-principal .lado-izquierdo {
  border: 2px solid rgb(231, 228, 228);
  flex-grow: 1;
}
.caja-principal .lado-izquierdo .create-account-iz {
  background-color: transparent;
  border: 2px solid blue;
  text-decoration: none;
  margin: 10 px;
  width: 180px;
  text-align: center;
}
.caja-principal .lado-izquierdo .button-iz {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-principal .lado-izquierdo .login-button-iz {
  text-decoration: none;
  margin: 0 auto;
}
.caja-principal .lado-izquierdo .create-account-iz:hover {
  background-color: blue;
  color: white;
  text-decoration: underline;
}
.caja-principal .lado-izquierdo .login-button-iz:hover {
  background-color: gray;
  text-decoration: underline;
  width: 185px;
  text-align: center;
}
.caja-principal .lado-izquierdo div {
  margin: 10px;
}
.caja-principal .lado-izquierdo .check {
  background-color: transparent;
  border: 2px solid blue;
  text-decoration: none;
  margin: 0 auto;
}
.caja-principal .lado-izquierdo .box-white {
  background-color: white;
  border: 2px solid rgb(231, 228, 228);
}
.caja-principal .lado-izquierdo .box-popular {
  display: flex;
  width: 200px;
  height: 200px;
  border: 2px solid rgb(233, 232, 232);
  flex-direction: column;
  overflow: auto;
}
.caja-principal .lado-izquierdo .box-popular a {
  text-decoration: none;
  color: black;
}
.caja-principal .lado-izquierdo ul > li:hover {
  background-color: gray;
  text-decoration: underline;
}
.caja-principal .lado-izquierdo .box-popular > a:hover {
  background-color: gray;
  text-decoration: underline;
}
.caja-principal .lado-izquierdo .check:hover {
  background-color: blue;
  color: white;
  text-decoration: underline;
}
.caja-principal .lado-izquierdo ul li > a {
  text-decoration: none;
  color: black;
}
.caja-principal main {
  border: 2px solid rgb(231, 228, 228);
  flex-grow: 4;
}
.caja-principal .central {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}
.caja-principal .central .imgc {
  margin: 30px;
  width: 100%;
  max-width: 450px;
}
.caja-principal .central .bc > a {
  height: 50px;
  text-decoration: none;
  color: black;
  margin: 10px;
}
.caja-principal .central .bc > a:hover {
  background-color: white;
  color: blue;
}
.caja-principal .central .textcc {
  margin: 10px;
}
.caja-principal .central .textcc a {
  text-decoration: none;
  color: black;
}
.caja-principal .central .textcc a:hover {
  color: blue;
}
.caja-principal .central .box-white {
  background-color: white;
  border: 2px solid rgb(231, 228, 228);
}
.caja-principal .central .textf {
  margin: 10px;
}
.caja-principal .lado-derecho {
  border: 2px solid rgb(231, 228, 228);
  flex-grow: 2;
}
.caja-principal .lado-derecho p > a {
  text-decoration: none;
  color: black;
}
.caja-principal .lado-derecho h3 > a {
  text-decoration: none;
  color: black;
}
.caja-principal .lado-derecho p > a:hover {
  color: blue;
}
.caja-principal .lado-derecho h3 > a:hover {
  color: blue;
}
.caja-principal aside .box-white {
  border: solid 1px #eee;
  text-decoration: none;
  text-align: left;
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .lado-izquierdo {
    visibility: hidden;
  }
  .caja-principal {
    width: 100%;
  }
  .lado-izquierdo {
    position: fixed;
  }
  .lado-derecho {
    position: fixed;
    visibility: hidden;
  }
  .login-button {
    position: fixed;
    visibility: hidden;
  }
  .create-account {
    margin-right: 150px;
  }
}
@media (max-width: 450px) {
  .lado-izquierdo {
    visibility: hidden;
  }
  .caja-principal {
    width: 100%;
  }
  .lado-izquierdo {
    position: fixed;
  }
  .lado-derecho {
    visibility: hidden;
  }
  .login-button {
    position: fixed;
    visibility: hidden;
  }
  .create-account {
    margin-right: 50px;
  }
}/*# sourceMappingURL=styles.css.map */