.lado-izquierdo {
border: 2px solid black;
flex-grow: 1;
.create-account-iz {
    background-color: transparent;
    border: 2px solid blue;
    text-decoration: none;
    margin: 10 px;
    width: 180px; 
    text-align: center;   
}
.button-iz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-button-iz {
    text-decoration: none;
    margin: 0 auto;
}
.create-account-iz:hover {
    background-color: blue;
    color:white;
    text-decoration: underline;
}
.login-button-iz:hover {
    background-color: gray;
    text-decoration: underline;
    width: 185px; 
    text-align: center; 
}
div {
    margin: 10px;
}
.check{
    background-color: transparent;
    border: 2px solid blue;
    text-decoration: none;
    margin: 0 auto;
}
.box-white {
    background-color: white;
    border: 2px solid rgb(231, 228, 228);
}
.box-popular {
    display: flex;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(233, 232, 232);
    flex-direction: column;
    overflow:auto;
    text-decoration: none;

}
ul>li:hover{
    background-color: gray;
    text-decoration: underline;
}
.box-popular>a:hover{
    background-color: gray;
    text-decoration: underline;
}
.check:hover{
    background-color: blue;
    color:white;
    text-decoration: underline; 
}
}