main{
    border: 2px solid  rgb(231, 228, 228);
    flex-grow: 4;
    }
 .central {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        .imgc {
            margin: 30px;
            width: 100%;
            max-width: 450px;
        }
        
        .bc>a{
            height: 50px;
            text-decoration: none;
            color: black;
            margin: 10px;

        }

        .bc>a:hover{
            background-color: white;
            color: blue;
        }

        .textcc {
            margin: 10px;
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: blue;
            }
        }
        .box-white {
            background-color: white;
            border: 2px solid rgb(231, 228, 228);
        }
        .textf {
            margin: 10px;
        }
    }