#logo {
border: 1px solid rgb(231, 228, 228);
   
}
body{
    background-color: rgb(233, 232, 232);
}
.header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    .login-button{
        padding: 0.5rem;
        overflow: normal;
        background-color: transparent;
    }

    .create-account{
        padding: 0.5rem;
        overflow: normal;
        background-color: transparent;
        border: 2px solid blue;
    }
}

.caja-principal{
    border: 2px solid rgb(231, 228, 228);
    display: flex;
    width: 80%;
    margin: 0 auto;

    /* lado izquierdo */
    @import "ladoiz";
    /*________________*/
     
    /* central */
    @import "pcentral";
    /*_____________*/
    
    .lado-derecho{
        border: 2px solid rgb(231, 228, 228);
        flex-grow: 2;
        
    }
    .aside {
        border: 1px;
        text-decoration: none;
        color: blue;
        text-align: center;
        p{
            text-align: center;
        }

    }
   
    }
    
    
    
    

    




    
    


