#logo {
border: 1px solid red;
   
}

.header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    .login-button{
        padding: 0.5rem;
        overflow: normal;
        background-color: transparent;
    }

    .create-account{
        padding: 0.5rem;
        overflow: normal;
        background-color: transparent;
        border: 2px solid blue;
    }
}

.caja-principal{
    border: 2px solid black;
    display: flex;
    width: 80%;
    margin: 0 auto;

    .lado-izquierdo{
        border: 2px solid black;
        flex-grow: 1;
        }
    
    main{
        border: 2px solid red;
        flex-grow: 4;


        }
    .lado-derecho{
        border: 2px solid black;
        flex-grow: 2;
        
    }
    .aside {
        border: 1px;
        text-decoration: none;
        color: blue;
        text-align: center;
        p{
            text-align: center;
        }

    }
   
    }
    
    
    
    

    



}
    
    


