#logo {
    border: 1px solid rgb(231, 228, 228);
    margin-left: 10%;
}
body{
    background-color: rgb(233, 232, 232);
}

/*header*/
@import "header";
/*_______________*/

.caja-principal{
    border: 2px solid rgb(231, 228, 228);
    display: flex;
    width: 80%;
    margin: 0 auto;

    /* lado izquierdo */
    @import "ladoiz";
    /*________________*/
     
    /* central */
    @import "pcentral";
    /*_____________*/
    
    .lado-derecho{
        border: 2px solid rgb(231, 228, 228);
        flex-grow: 2;
        p>a {
            text-decoration: none;
            color: black;
        }
        h3>a {
            text-decoration: none;
            color: black;
        }

        p>a:hover{
            color: blue;
        }
        h3>a:hover{
            color: blue;
        }
    }
    aside {
        .box-white{
        border: solid 1px #eee;
        text-decoration: none;
        text-align: left;
        background-color: white;
        border-radius: 5px;
        }
    }
   
    }

@media (max-width:768px) {
    .lado-izquierdo {
        visibility: hidden;
    }
    .caja-principal{
        width: 100%;
    }
    .lado-izquierdo{
        position: fixed;
    }
    .lado-derecho{
        position: fixed;
        visibility: hidden;
    }
    .login-button{
        position: fixed;
        visibility: hidden;
    }
    .create-account{
        margin-right: 150px;
    }
    }
    


@media (max-width:450px) {
    .lado-izquierdo {
        visibility: hidden;
    }
    .caja-principal{
        width: 100%;
    }
    .lado-izquierdo{
        position: fixed;
    }
    .lado-derecho{
        
        visibility: hidden;
    }
    .login-button{
        position: fixed;
        visibility: hidden;
    }
    .create-account {
        margin-right: 50px;

    }
}

    




    
    


